packages:
  yum:
    git: []

commands:
  01-set_timezone:
    command: cp /usr/share/zoneinfo/Japan /etc/localtime

container_commands:
  02wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  05-whoami:
    command: "whoami"
  99customize:
    command: "scripts/customize.sh"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango/wsgi.py
    NumProcesses: 3
    NumThreads: 20